html {
	height: fit-content;
}

body {
	margin: 0;
	background-color: rgb(32, 32, 32);
	height: inherit;
}

#root {
	display: flex;
	flex-direction: column;
	background-color: rgb(250, 247, 242);
	width: fit-content;
	height: inherit;
	padding: 25px;
	margin: 0 auto 0 auto;
}

.scoreboard {
	width: 100%;
	margin: 10px auto 10px auto;
	font-weight: bold;
	text-align: center;
	font-family: 'clear-sans';
	font-size: 24px;
	color: rgb(116, 111, 106);
	text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.game-panel {
	display: flex;
	justify-content: center;
	margin: 25px;
}

.game-board {
	width: fit-content;
	height: fit-content;
	position: relative;
	margin: auto 10px auto 10px;
}

.cells {
	display: grid;
	justify-content: center;
	background-color: rgb(187, 173, 160);
	padding: 5px;
	border-radius: 10px;
	width: fit-content;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.game-over {
	display: grid;
	grid-template-columns: 50%;
	grid-template-rows: 50% 50%;
	background-color: rgba(64, 64, 64, 0.75);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.game-over > label {
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: white;
	align-self: flex-end;
	opacity: 0.8;
}

.game-over > button {
	align-self: baseline;
	padding: 10px;
	opacity: 0.8;
}

@font-face {
	font-family: 'clear-sans';
	src: url('./fonts/ClearSans-Regular.ttf');
}

.cell {
	font-family: 'clear-sans';
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin: 5px;
	border-radius: 10px;
	line-height: 85px;
	color: rgb(255, 255, 255);
	background-color: rgb(32, 32, 32);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.cell-value-0 {
	background-color: rgb(204, 192, 179);
	color: rgb(116, 111, 106);
}

.cell-value-2 {
	background-color: rgb(238, 228, 218);
	color: rgb(116, 111, 106);
}

.cell-value-4 {
	background-color: rgb(237, 224, 200);
	color: rgb(116, 111, 106);
}

.cell-value-8 {
	background-color: rgb(241, 177, 121);
}

.cell-value-16 {
	background-color: rgb(245, 149, 99);
}

.cell-value-32 {
	background-color: rgb(246, 94, 59);
}

.cell-value-64 {
	background-color: rgb(237, 200, 80);
}

.cell-value-128 {
	background-color: rgb(235, 197, 64);
}

.cell-value-256 {
	background-color: rgb(238, 194, 46);
}

.cell-value-512 {
	background-color: rgb(255, 61, 61);
}

.cell-value-1024 {
	background-color: rgb(255, 29, 31);
}

.button-panel {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 100px 100px 100px;
	background-color: rgb(187, 173, 160, 0);
	text-align: center;
	border-radius: 5px;
	width: fit-content;
	margin: auto 10px auto 10px;
	justify-content: center;
	width: fit-content;
}

#left {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

#right {
	grid-row: 2 / 3;
	grid-column: 3 / 4;
}

#up {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}

#down {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}

.button {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	background-color: rgb(246, 94, 59);
	color: rgb(32, 32, 32);
	border-radius: 5px;
	border-style: hidden;
	margin: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
	background-color: rgb(245, 149, 99);
	color: white;
}

.button:focus {
	outline: none;
	border-color: rgb(116, 111, 106);
}

.button:active {
	background-color: rgb(237, 200, 80);
	color: white;
}
